<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %> 
    <%= f.text_field :name, :class => "error", placeholder: 'John Doe' %>
  </p>
  <p style="color: red"><%= errors_for @user, :name %></p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :class => "error", placeholder: 'example@example.com' %>
  </p>
  <p style="color: red"><%= errors_for @user, :email %></p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class => "error", placeholder: 'Your Password' %>
  </p>
  <p style="color: red"><%= errors_for @user, :password %></p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>